/* prata-regular - latin_cyrillic */
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: local('Prata Regular'), local('Prata-Regular'),
  url('fonts/prata-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/prata-v10-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/prata-v10-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/prata-v10-latin_cyrillic-regular.svg#Prata') format('svg'); /* Legacy iOS */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}


  /* ШРИФТЫ
  font-family: 'Prata', serif;
  font-family: 'PT Sans', sans-serif;*/

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .head-bg{
    background-image: url(img/bg_main_mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  footer{
    display: none;
  }

  .header-inner{
    min-width: 295px;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-name{
    color: #eec643;
    font-family: 'Prata', serif;
    font-size: 30px;
  }

  .nav-main{
    display: none;
  }

  .button-burger{
    width: 28px;
    height: 28px;
    border: 2px solid red;
  }

  .h1-desktop{
    display: none;
  }

  .about-inner,
  .directions-inner,
  .adv-inner,
  .concerts-inner,
  .contacts-inner{
    min-width: 295px;
    margin: auto;
    padding: 30px 15px;
    color: white;
  }

  .dir-title,
  .concerts-title{
    color: black;
    font-size: 30px;
    font-family: 'Prata', serif;
    margin-bottom: 20px;
    border-top: 2px solid #eec643;
    border-bottom: 2px solid #eec643;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .col {
    /*flex-grow: 0;
    flex-shrink: 0;*/
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .col--lg-s-1 { width: 25%; }
  .col--lg-s-2 { width: 50%; }
  .col--lg-s-3 { width: 75%; }
  .col--lg-s-4 { width: 100%; }
  .col--lg-s-none {
    display: none;
  }

  .dir-inner{
    position: relative;
    height: 144px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  form{
    display: none;
  }

  .adv-title,
  .contacts-title{
    color: black;
    font-size: 30px;
    font-family: 'Prata', serif;
    margin-bottom: 20px;
    border-top: 2px solid #eec643;
    border-bottom: 2px solid #eec643;
  }

  .contacts-lil-title{
    color: black;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
  }

  .lil-map{
    margin-top: 15px;
  }

  .about-lil-title{
    color: white;
    width: 80%;
    padding-left: 0;
  }

  .adv-inner-small{
    position: relative;
    color: #FFF;
    height: 144px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #eec643;

  }

  .lil-view,
  .all-dir-small{
    margin-top: 30px;
    height: 144px;
  }

  .adv-inner-big{
    color: #FFF;
    height: 144px;
    background-repeat: no-repeat;
    background-size: 100%;

  }

  .conc-inner-big{
    height: 188px;
  }

  .conc-inner-small{
    height: 188px;
    margin-bottom: 30px;
  }

  .first-lesson,
  .first-lesson-horz{
    color: white;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    background-color: #eec643;
  }

  .first-lesson{
    height: 144px;
  }

  .first-lesson-horz{
    margin: 15px;
    padding: 20px;
    text-align: center;
  }

  .all-dir-big{
    display: none;
  }


  h1{
    font-family: 'Prata', serif;
    font-size: 32px;
    color: white;
    font-weight: 400;
    /*width: 700px;*/
    width: 100%;
    /*padding-right: 10px;*/
  }

  h2{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 0px;
  }

  p{
    /*width: 200px;*/
    width: 60%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
/*
  .directions-inner p{
    width: 60%;
  }*/

  .lil-transform{
    position: absolute;
    transform: rotate(270deg);
    color: black;
    font-size: 16px;
    padding: 0;
    bottom: 50px;
    left: -15px;

  }

  .big-p{
    display: none;
  }


@media (min-width: 1280px){
  footer{
    display: block;
  }

  header,
  footer,
  section{
    margin: 0 40px;
  }

  .head-bg{
    background-image: url(img/bg_main.jpg);
  }

  .footer-inner{
    max-width: 1280px;
    margin: auto;
    padding: 30px 15px;
    display: flex;
    align-items: center;
  }

  .logo-name-foo{
    color: #eec643;
    font-family: 'Prata', serif;
    font-size: 20px;
  }

  .header-inner{
    max-width: 1280px;
    padding: 30px 15px;
  }

  .button-burger{
    display: none;
  }

  .nav-main{
    display: block;
    margin-left: auto;
  }

  .nav-item{
    display: inline-block;
    margin-left: 28px;
  }

  .nav-item a{
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  .h1-desktop{
    display: block;
  }

  .h1-mobile{
    display: none;
  }

  .links{
    margin-left: auto;
  }

  .links-item{
    display: inline-block;
    margin-left: 28px;
  }

  .links-item a{
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }


  .about-inner,
  .directions-inner,
  .adv-inner,
  .concerts-inner,
  .contacts-inner{
    position: relative;
    max-width: 1280px;
    margin: auto;
  }


  .dir-title,
  .concerts-title{
    position: absolute;
    font-size: 36px;
    left: 15px;
    top: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-110%);
  }


  .concerts-title{
    transform: rotate(-90deg) translateX(-135%);
  }

  .adv-title,
  .contacts-title{
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 36px;
    font-family: 'Prata', serif;
    margin-left: 15px;
    padding-right:  200px;
    border-top: 2px solid #eec643;
    border-bottom: 2px solid #eec643;
  }

  .contacts-lil-title{
    position: absolute;
    top: 60px;
    left: 50%;
  }

  .adv-row,
  .cont-row{
    align-items: flex-end;
  }

  .col--lg-1 { width: 25%; }
  .col--lg-2 { width: 50%; }
  .col--lg-3 { width: 75%; }
  .col--lg-4 { width: 100%; }
  .col--lg-s-none {
    display: block;
  }

  .left{
    padding-left: 96px;
  }

  .dir-inner{
    height: 268px;
  }

  form{
    position: relative;
    display: block;
  }

  .first-lesson,
  .first-lesson-horz{
    display: none;
  }

  .lil-view{
    display: none;
  }

  .all-dir-big{
    display: block;
  }

  .all-dir-small{
    display: none;
  }

  .adv-inner-small{
    height: 460px;
   /* background-repeat: no-repeat;
    background-size: 100%;
    */
  }

  .adv-inner-big{
    color: #FFF;
    height: 560px;
    background-repeat: no-repeat;
    background-size: 100%;

  }

  .adv-inner-form{
    height: 560px;
  }

  .conc-inner-big{
    height: 570px;
  }

  .conc-inner-small{
    height: 170px;
    margin-bottom: 30px;
  }

  .contacts-inner-form{
    height: 560px;
  }

  .about-form{
    color: black;
    border: 1px solid black;
    background-color: rgba(251,246,229,0.85);
  }

  .adv-form,
  .conc-form{
    color: black;
    border: 1px solid #eec643;
    height: 100%;
  }

  .adv-form h3,
  .conc-form h3{
    color: #eec643;
  }

  input[type="submit"]{
    color: white;
    border: transparent;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 1.5rem;
    /*margin-top: 50px;*/
    width: 100%;
  }


  .about-submit{
    background: black;
  }

  input[type="text"],
  select{
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid black;
    color: #596063;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
  }

  select{
    width: 100%;
  }

  .adv-form input[type="text"],
  .adv-form select,
  .conc-form input[type="text"],
  .conc-form select{
    border-bottom: 1px solid #eec643;
  }



  .adv-submit{
    background-color: #eec643;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .fieldset{
    border: transparent;
    height: 100%;
    padding: 30px;
    padding-top: 0;
  }

  .fieldset h3{
    width: 200px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fieldset p{
    padding-left: 0;
    margin-bottom: 20px;
  }

  h1{
    font-size: 55px;
  }

  h2{
    font-size: 55px;
  }

  h3{
    padding-bottom: 30px;
  }

  p{
    font-size: 20px;
  }

  .big-p{
    display: block;
  }

  .lil-p{
    display: none;
  }

  .lil-map{
    margin-top: 0px;
  }

}





